# Tatsächliche Reaktivität

```svelte
<script>
    let name = '';
</script>

<input bind:value={name}/>
```
React:
```js
const Input = () => {
    [name, setName] = useState('')

    return <input value={name} onChange={(event) => setName(event.target.value)}/>
}
```